# See also: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
registries:
  github-npm:
    type: npm-registry
    url: https://npm.pkg.github.com
    username: ${{ secrets.DEPENDABOT_GITHUB_USERNAME }}
    password: ${{ secrets.DEPENDABOT_GITHUB_TOKEN }}
  github-maven:
    type: maven-repository
    url: https://maven.pkg.github.com
    username: ${{ secrets.DEPENDABOT_GITHUB_USERNAME }}
    password: ${{ secrets.DEPENDABOT_GITHUB_TOKEN }}
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    registries: "*"
    schedule:
      interval: "daily"
      time: "03:00"
    target-branch: main
    labels:
    - dependabot
    commit-message:
      prefix: BAU
    allow:
      - dependency-type: "production"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch" ]
  - package-ecosystem: "npm"
    directory: "/api-tests"
    registries: "*"
    schedule:
      interval: "daily"
      time: "03:00"
    target-branch: main
    labels:
      - dependabot
    commit-message:
      prefix: BAU
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch" ]
    groups:
      babel:
        patterns:
          - "@babel/*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "typescript-eslint"
          - "@types/eslint__js"
  - package-ecosystem: "npm"
    directory: "/journey-map"
    registries: "*"
    schedule:
      interval: "daily"
      time: "03:00"
    target-branch: main
    labels:
      - dependabot
    commit-message:
      prefix: BAU
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch" ]
    groups:
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "typescript-eslint"
          - "@types/eslint__js"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    target-branch: main
    labels:
    - dependabot
    commit-message:
      prefix: BAU
