# Compiled class file
*.class
lambdas/*/bin

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.gradle
.DS_Store
/build
.vscode
dist

# Ignore Gradle build output directory
build

# Ignore AWS SAM folder
*/**/.aws-sam

# Ignore node/TS output
node_modules

# Ignore template written by dev-deploy tool
deploy/core-back-*.yaml
journey-map/deploy/journey-map-*.yaml

# Ignore dynamo script outputs
dev
production
uuid_results

libs/test-helpers/bin
local-running/bin/

# User-specific secrets
secrets.gradle

local-running/core.local.secrets.yaml

api-tests/reports/*
!api-tests/reports/.gitkeep
api-tests/.npmrc
api-tests/.env*
!api-tests/.env.template
!api-tests/.env.dev.template
!api-tests/.env.local
!api-tests/.env.devShared
!api-tests/.env.build
journey-map/.env*
!journey-map/.env.template

journey-map/public/application.js*
