* {
  margin: 0;
  box-sizing: border-box;
}
h3 {
  padding-bottom: 8px;
}
h4 {
  padding: 12px 0 4px 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;
}
#header {
  position: relative;
  border-bottom: 3px solid black;
  background: white;
  z-index: 1;
}
#header-bar {
  display: flex;
  background: black;
  color: white;
  padding: 8px;
  align-items: center;
}
#header-bar h1 {
  flex: 0 0 auto;
  display: flex;
  gap: 8px;
}
#header-bar h1 a {
  text-decoration: none;
}
#header-bar a {
  flex: 1 1 auto;
  color: white;
  text-align: center;
}
#header-content {
  display: flex;
  margin: 8px 0;
  overflow: auto;
  max-height: 500px;
  transition:
    max-height 0.15s ease-out,
    margin 0.15s ease-out;
}
#header-content.hidden {
  max-height: 0;
  margin: 0;
}
#header-content > *:not(:first-child) {
  border-left: 1px solid black;
}
#header-toggle {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100px;
  margin-left: -50px;

  background: white;
  border: 3px solid black;
  cursor: pointer;
}
#diagram {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1 1 auto;
  user-select: none;
}
#diagram > * {
  height: 100%;
  width: 100%;
}
form {
  padding: 8px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form button {
  width: 100%;
}

#form-button {
  padding: 4px 2px;
  background: black;
  color: white;
  width: 100%;
  cursor: pointer;
}
#form-button:hover {
  background: #333;
}
#form-button:active {
  transform: scale(0.98);
}
#form-button:disabled {
  background: #444;
  color: #aaa;
  cursor: wait;
  opacity: 0.6;
}
form select {
  width: 100%;
}
form input[type=text] {
  width: 100%;
  margin-bottom: 8px;
}
.date-input-row {
  display: flex;
  align-items: center;
}
.date-input-row > span {
  flex: 0 0 50px;
}
.date-input-row > label {
  margin-left: auto;
  max-width: 170px;
}
.date-input-row input[type="datetime-local"] {
  width: 100%;
  max-width: 200px;
}
form label {
  display: flex;
  gap: 8px;
  margin: 2px 0;
}
form select {
  flex: 0 0 30%;
}
form input[type="checkbox"] {
  margin-left: 8px;
}
form fieldset {
  margin-top: 8px;
  padding: 8px;
}
form fieldset legend {
  font-weight: bold;
}
form fieldset p {
  color: #555;
  margin-bottom: 8px;
}
#checkbox-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
#checkbox-controls fieldset {
  flex: 1 0 0;
  max-width: 30%;
}
#nodeInfo {
  flex: 1 1 auto;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 30%;
}
#nodeDef {
  background: #f3f2f1;
  padding: 8px;
}
#nodeDef:empty {
  display: none;
}
#nodeDesc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#journeyDesc {
  max-height: 100px;
  overflow: auto;
}
#diagramSvg .highlight.outgoingEdge {
  stroke-width: 3px;
  filter: drop-shadow(1px 0 0 #ffdd00) drop-shadow(-1px 0 0 #ffdd00)
    drop-shadow(0 1px 0 #ffdd00) drop-shadow(0 -1px 0 #ffdd00);
}
#diagramSvg .highlight.incomingEdge {
  stroke-width: 3px;
  filter: drop-shadow(1px 0 0 cyan) drop-shadow(-1px 0 0 cyan)
    drop-shadow(0 1px 0 cyan) drop-shadow(0 -1px 0 cyan);
}
#diagramSvg .highlight.node rect {
  stroke-width: 3px;
  filter: drop-shadow(1px 0 0 #ffdd00) drop-shadow(-1px 0 0 #ffdd00)
    drop-shadow(0 1px 0 #ffdd00) drop-shadow(0 -1px 0 #ffdd00);
}
#header-actions {
  margin-left: auto;
  display: flex;
  height: 100%;
  align-items: center;
}
#journey-select {
  font-size: 1rem;
  margin-right: 30px;
  margin-left: 5px;
}
#state-search {
  font-size: 1rem;
}
#diagramSvg .edgeLabel p.journeyCtxTransition {
  background-color: #f5daa4;
}
.journeyCtxList {
  padding: 4px 24px 0;
}
#diagramSvg .edgeLabel p.mitigationTransition {
  background-color: #ffbda8;
}
.defaultEdgeLabel {
  text-wrap: wrap;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9c9ca1;
}
span.edgeLabel .defaultEdgeLabel:last-child {
  border-bottom: none;
}
span.edgeLabelIdentifier {
  text-shadow: 0.5px 0px 0px #555, -0.5px 0px 0px #555;
}
