# DO NOT CHANGE THIS FILE
# This action should be kept as small as possible and only do linting of workflow actions as syntax errors in
# actions cause them to silently fail. If you do need to change this file, make sure that you watch it execute
# successfully in GitHub actions as you will not be warned if it fails.

name: Lint GitHub Workflows

on:
  pull_request:
    paths:
      - ".github/workflows/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run actionlint
        uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
        with:
          reporter: github-pr-check
          fail_level: error
