name: build and test

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

env:
  SAM_CLI_TELEMETRY: "0"

jobs:
  # Run the automated tests.
  automatedTests:
    uses: ./.github/workflows/automated-tests.yaml
    permissions:
      id-token: write
      packages: read
      contents: read
    secrets:
      API_KEY_CIMIT: ${{ secrets.API_KEY_CIMIT }}
      API_KEY_EVCS: ${{ secrets.API_KEY_EVCS }}
      API_KEY_SIS: ${{ secrets.API_KEY_SIS }}
      ASYNC_QUEUE_API_KEY: ${{ secrets.ASYNC_QUEUE_API_KEY }}
      CRI_STUB_GEN_CRED_API_KEY: ${{ secrets.CRI_STUB_GEN_CRED_API_KEY }}
      DCMAW_ASYNC_SECRET: ${{ secrets.DCMAW_ASYNC_SECRET }}
      MANAGEMENT_CIMIT_STUB_API_KEY: ${{ secrets.MANAGEMENT_CIMIT_STUB_API_KEY }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      TICF_API_KEY: ${{ secrets.TICF_API_KEY }}
      MANAGEMENT_TICF_API_KEY: ${{ secrets.MANAGEMENT_TICF_API_KEY }}
