name: Secure Pipeline Test, Build, Package & Ship Core Back

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  # Always run the automated tests and stop if they fail.
  automatedTests:
    uses: ./.github/workflows/automated-tests.yaml
    permissions:
      id-token: write
      packages: read
      contents: read
    secrets:
      API_KEY_CIMIT: ${{ secrets.API_KEY_CIMIT }}
      API_KEY_EVCS: ${{ secrets.API_KEY_EVCS }}
      API_KEY_SIS: ${{ secrets.API_KEY_SIS }}
      ASYNC_QUEUE_API_KEY: ${{ secrets.ASYNC_QUEUE_API_KEY }}
      CRI_STUB_GEN_CRED_API_KEY: ${{ secrets.CRI_STUB_GEN_CRED_API_KEY }}
      DCMAW_ASYNC_SECRET: ${{ secrets.DCMAW_ASYNC_SECRET }}
      MANAGEMENT_CIMIT_STUB_API_KEY: ${{ secrets.MANAGEMENT_CIMIT_STUB_API_KEY }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      TICF_API_KEY: ${{ secrets.TICF_API_KEY }}
      MANAGEMENT_TICF_API_KEY: ${{ secrets.MANAGEMENT_TICF_API_KEY }}

  check-if-api-tests-changed:
    runs-on: ubuntu-latest
    outputs:
      api-tests-changed: ${{ steps.get-changed-files.outputs.any_changed }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@5250492686b253f06fa55861556d1027b067aeb5 # v9.0.2

      - uses: nrwl/nx-set-shas@3e9ad7370203c1e93d109be57f3b72eb0eb511b1 # v4.4.0
        id: last_successful_commit_push_on_main
        with:
          main-branch-name: ${{ steps.branch-name.outputs.default_branch }}

      - name: Get changed api-tests files
        id: get-changed-files
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        with:
          files: |
            api-tests/**
            .github/workflows/secure-pipeline-api-tests-image.yml
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: List changed files
        env:
          CHANGED_FILES: ${{ steps.get-changed-files.outputs.all_changed_files }}
        run: |
          for file in $CHANGED_FILES; do
            echo "$file was changed"
          done

  build-api-test-images-if-changed:
    needs:
      - automatedTests
      - check-if-api-tests-changed
    if: |
      needs.automatedTests.result == 'success' &&
      needs.check-if-api-tests-changed.outputs.api-tests-changed == 'true' && github.event_name == 'push'
    uses: govuk-one-login/ipv-core-back/.github/workflows/secure-pipeline-api-tests-image.yml@main
    with:
      environment: 'build'
    secrets:
      BUILD_API_TESTS_IMAGE_ECR_REPO_GHA_ROLE_ARN: ${{ secrets.BUILD_API_TESTS_IMAGE_ECR_REPO_GHA_ROLE_ARN }}
      BUILD_API_TESTS_IMAGE_ECR_REPO_NAME: ${{ secrets.BUILD_API_TESTS_IMAGE_ECR_REPO_NAME }}
      CONTAINER_SIGN_KMS_KEY: ${{ secrets.CONTAINER_SIGN_KMS_KEY }}
    permissions:
      id-token: write
      packages: read
      contents: read

  build-api-test-images-if-changed-shared-dev:
    needs:
      - automatedTests
      - check-if-api-tests-changed
    if: |
      needs.automatedTests.result == 'success' &&
      needs.check-if-api-tests-changed.outputs.api-tests-changed == 'true'
    uses: govuk-one-login/ipv-core-back/.github/workflows/secure-pipeline-api-tests-image.yml@main
    with:
      environment: 'dev01'
    secrets:
      BUILD_API_TESTS_IMAGE_ECR_REPO_GHA_ROLE_ARN_DEV: ${{ secrets.BUILD_API_TESTS_IMAGE_ECR_REPO_GHA_ROLE_ARN_DEV }}
      BUILD_API_TESTS_IMAGE_ECR_REPO_NAME_DEV: ${{ secrets.BUILD_API_TESTS_IMAGE_ECR_REPO_NAME_DEV }}
      CONTAINER_SIGN_KMS_KEY_DEV: ${{ secrets.CONTAINER_SIGN_KMS_KEY_DEV }}
    permissions:
      id-token: write
      packages: read
      contents: read

  check-if-deploy-needed:
    runs-on: ubuntu-latest
    outputs:
      deploy-needed: ${{ steps.check-if-should-deploy.outputs.any_changed }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get relevant changed files
        id: check-if-should-deploy
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        with:
          files: |
            **
          files_ignore: |
            api-tests/**
            **/*.md
            lambdas/*/src/test/**
            libs/*/src/test/**
            libs/test-data/**
            libs/test-helpers/**
            journey-map/**
            local-running/**

      - name: List changed files
        env:
          CHANGED_FILES: ${{ steps.check-if-should-deploy.outputs.all_changed_files }}
        run: |
          for file in $CHANGED_FILES; do
            echo "$file was changed"
          done

  deploy:
    needs:
      - automatedTests
      - build-api-test-images-if-changed
      - build-api-test-images-if-changed-shared-dev
      - check-if-deploy-needed
#    !failure() will return true if steps are cancelled or skipped. We need the tests to explicitly succeed
    if: |
      !failure() &&
      needs.automatedTests.result == 'success' &&
      (needs.check-if-deploy-needed.outputs.deploy-needed == 'true' || github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      AWS_REGION: eu-west-2
      ENVIRONMENT: ${{ github.event_name == 'workflow_dispatch' && 'dev01' || 'build' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: gradle

      - name: Set up Python 3.8
        uses: actions/setup-python@v6
        with:
          python-version: "3.8"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
        with:
          gradle-version: "8.13"

      - name: Set up SAM CLI
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133

      - name: Fix SAM cryptography issue https://github.com/aws/aws-sam-cli/issues/4527
        run: |
          "$(dirname "$(readlink "$(which sam)")")/pip" install --force-reinstall "cryptography==38.0.4"

      - name: Set up AWS creds For Pipeline
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.ENVIRONMENT == 'build' && secrets.GH_ACTIONS_ROLE_ARN || secrets.GH_ACTIONS_ROLE_ARN_DEV }}
          aws-region: eu-west-2

      - name: SAM validate
        working-directory: ./deploy
        run: sam validate --region "${{ env.AWS_REGION }}"

      - name: SAM build and test
        working-directory: ./deploy
        run: sam build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@v3.9
        with:
          artifact-bucket-name: ${{ env.ENVIRONMENT == 'build' && secrets.ARTIFACT_BUCKET_NAME || secrets.ARTIFACT_BUCKET_NAME_DEV }}
          signing-profile-name: ${{ env.ENVIRONMENT == 'build' && secrets.SIGNING_PROFILE_NAME || secrets.SIGNING_PROFILE_NAME_DEV }}
          working-directory: ./deploy
          template-file: .aws-sam/build/template.yaml
